
/vendor
/tmp
/log/*
!/log/.keep
/storage/*
!/storage/.keep
/coverage
/node_modules
/lib/molecule

.byebug_history
/public/assets
/public/manifests

/config/locales/de.yml
/config/locales/en.yml

brakeman-output.tabs
*.sql

